In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('dataset.csv')
data

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,71,2,1,1,2,2,1,1,1,1,2,1,1,2,NO
2996,F,75,1,2,1,1,1,2,2,2,2,1,1,2,1,NO
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 3000 non-null   object
 1   AGE                    3000 non-null   int64
 2   SMOKING                3000 non-null   int64
 3   YELLOW_FINGERS         3000 non-null   int64
 4   ANXIETY                3000 non-null   int64
 5   PEER_PRESSURE          3000 non-null   int64
 6   CHRONIC_DISEASE        3000 non-null   int64
 7   FATIGUE                3000 non-null   int64
 8   ALLERGY                3000 non-null   int64
 9   WHEEZING               3000 non-null   int64
 10  ALCOHOL_CONSUMING      3000 non-null   int64
 11  COUGHING               3000 non-null   int64
 12  SHORTNESS_OF_BREATH    3000 non-null   int64
 13  SWALLOWING_DIFFICULTY  3000 non-null   int64
 14  CHEST_PAIN             3000 non-null   int64
 15  LUNG_CANCER            3000 non-null   object
dtypes: int64(14), object(2)
memory usage: 375.1+ KB

In [3]:
data.GENDER.unique()

array(['M', 'F'], dtype=object)

In [4]:
data.GENDER = data.GENDER.apply(lambda x: 1 if x == 'M' else 0)
data.GENDER = data.GENDER.astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 3000 non-null   int64
 1   AGE                    3000 non-null   int64
 2   SMOKING                3000 non-null   int64
 3   YELLOW_FINGERS         3000 non-null   int64
 4   ANXIETY                3000 non-null   int64
 5   PEER_PRESSURE          3000 non-null   int64
 6   CHRONIC_DISEASE        3000 non-null   int64
 7   FATIGUE                3000 non-null   int64
 8   ALLERGY                3000 non-null   int64
 9   WHEEZING               3000 non-null   int64
 10  ALCOHOL_CONSUMING      3000 non-null   int64
 11  COUGHING               3000 non-null   int64
 12  SHORTNESS_OF_BREATH    3000 non-null   int64
 13  SWALLOWING_DIFFICULTY  3000 non-null   int64
 14  CHEST_PAIN             3000 non-null   int64
 15  LUNG_CANCER            3000 non-null   object
dtypes: int64(15), object(1)
memory usage: 375.1+ KB

In [5]:
for i in data.columns:
    print(i, data[i].unique())

GENDER [1 0]
AGE [65 55 78 60 80 58 70 74 77 67 35 79 39 62 64 66 76 48 33 47 50 36 37 51
 53 72 71 54 41 46 59 32 34 44 38 69 45 40 63 75 52 31 57 73 42 56 68 61
 30 49 43]
SMOKING [1 2]
YELLOW_FINGERS [1 2]
ANXIETY [1 2]
PEER_PRESSURE [2 1]
CHRONIC_DISEASE [2 1]
FATIGUE [1 2]
ALLERGY [2 1]
WHEEZING [2 1]
ALCOHOL_CONSUMING [2 1]
COUGHING [2 1]
SHORTNESS_OF_BREATH [2 1]
SWALLOWING_DIFFICULTY [2 1]
CHEST_PAIN [1 2]
LUNG_CANCER ['NO' 'YES']

In [6]:
data.LUNG_CANCER = data.LUNG_CANCER.apply(lambda x: 1 if x == 'YES' else 0)
data.LUNG_CANCER = data.LUNG_CANCER.astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 3000 non-null   int64
 1   AGE                    3000 non-null   int64
 2   SMOKING                3000 non-null   int64
 3   YELLOW_FINGERS         3000 non-null   int64
 4   ANXIETY                3000 non-null   int64
 5   PEER_PRESSURE          3000 non-null   int64
 6   CHRONIC_DISEASE        3000 non-null   int64
 7   FATIGUE                3000 non-null   int64
 8   ALLERGY                3000 non-null   int64
 9   WHEEZING               3000 non-null   int64
 10  ALCOHOL_CONSUMING      3000 non-null   int64
 11  COUGHING               3000 non-null   int64
 12  SHORTNESS_OF_BREATH    3000 non-null   int64
 13  SWALLOWING_DIFFICULTY  3000 non-null   int64
 14  CHEST_PAIN             3000 non-null   int64
 15  LUNG_CANCER            3000 non-null   int64
dtypes: int64(16)
memory usage: 375.1 KB

In [7]:
# Age
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data['AGE_SCALED'] = scaler.fit_transform(data[['AGE']])
data

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER,AGE_SCALED
0,1,65,1,1,1,2,2,1,2,2,2,2,2,2,1,0,0.667808
1,0,55,1,2,2,1,1,2,2,2,1,1,1,2,2,0,-0.011480
2,0,78,2,2,1,1,1,2,1,2,1,1,2,1,1,1,1.550883
3,1,60,2,1,1,1,2,1,2,1,1,2,1,2,2,1,0.328164
4,0,80,1,1,2,1,1,2,1,2,1,1,1,1,2,0,1.686741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,71,2,1,1,2,2,1,1,1,1,2,1,1,2,0,1.075381
2996,0,75,1,2,1,1,1,2,2,2,2,1,1,2,1,0,1.347096
2997,0,62,2,2,2,1,2,2,2,2,1,1,2,2,2,1,0.464022
2998,1,30,1,1,2,2,2,2,2,2,2,1,2,1,2,1,-1.709700
2999,1,40,1,2,2,1,1,1,2,2,2,1,1,1,1,1,-1.030412

In [8]:
data.drop("AGE", axis=1, inplace=True)
data

,GENDER,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER,AGE_SCALED
0,1,1,1,1,2,2,1,2,2,2,2,2,2,1,0,0.667808
1,0,1,2,2,1,1,2,2,2,1,1,1,2,2,0,-0.011480
2,0,2,2,1,1,1,2,1,2,1,1,2,1,1,1,1.550883
3,1,2,1,1,1,2,1,2,1,1,2,1,2,2,1,0.328164
4,0,1,1,2,1,1,2,1,2,1,1,1,1,2,0,1.686741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,2,1,1,2,2,1,1,1,1,2,1,1,2,0,1.075381
2996,0,1,2,1,1,1,2,2,2,2,1,1,2,1,0,1.347096
2997,0,2,2,2,1,2,2,2,2,1,1,2,2,2,1,0.464022
2998,1,1,1,2,2,2,2,2,2,2,1,2,1,2,1,-1.709700
2999,1,1,2,2,1,1,1,2,2,2,1,1,1,1,1,-1.030412